body{
  
  
    background-image: url(../media/img/qbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    

}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #064c4e;
  border: 2px solid black;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 30px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.buttons button.exit{
    color: #fff;
    background: #007bff;
    height: 60px;
    width: 200px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: all 0.3s ease;
	position: fixed;
    bottom: 10px;
    right: 10px; 
}

.buttons button.exit:hover{
    background: #0263ca;
}

button:hover{
  background-color: aquamarine;
  color: black;
}
@media screen and (max-width: 600px) {

}
