* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
h3{
  font-size: 36px;
}
  /*Navigation bar css*/
  
#navBar{
    overflow: hidden;
    box-shadow: 0px 15px 10px -15px #111; 
}

#navBar ul{
  background-color: hsl(46, 94%, 50%);
  position: fixed;
  top: 0;
  width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}

#navBar li a{
  text-decoration: none;
  overflow: hidden;
    float: left;
    color:rgb(20, 19, 2);
    padding:  20px 17px;
    cursor: pointer;
}
#navBar li a:hover{
  background-color:#fa1414 ;
  color: white;
  font-size: 20px;
}
.icon{
    float: right;
}
#icon{
    padding-top: 20px;
    padding-right:20px ;
    font-size: 40px;
	color:#fa1414;
    cursor: pointer;
} 
#icon:hover{
  color: #0e0d0d;
}

/*Intro css*/
#intro{
    padding-top: 10%;
    
}
.prgph{
    
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 26px;
    line-height: 1.8;
    padding-left: 30%;
    padding-right: 30%;
}
.heading{
    display: inline-block;
    border-bottom: 4px solid #FFD700;
    margin-bottom:10px;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
#center{
text-align: center;
}

.box {
    float: left;
    width: 33%;
    padding: 10% 2%;
  }
  
  /* Remove extra left and right margins, due to padding */
  .features {
      padding-left: 20%;
      padding-right: 20%;
      margin: 0 -5%;}
  
  /* Clear floats after the box */
  .features:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive box */
  @media screen and (max-width: 600px) {
    .box {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 5px;
    text-align: center;
    background-color: #f1f1f1;
    
  }
 
  
  .button {
    display: inline-block;
    border-radius: 4px;
    background-color: #fa1414;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

  .button:hover{
    background-color: #FFD700;
  }

  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }