 /*Navigation bar css*/
  
 
/*nav barrrrr*/
.topnav {
  background-color: rgba(15, 15, 15, 0.479);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: rgb(255, 248, 248);
  text-align: center;
  padding: 5px 56px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: rgba(255, 124, 1, 0.836);
  color: white;
}

.topnav a.active {
  background-color: rgb(22, 22, 22);
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  padding: 5px 56px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover {
  background-color: rgba(255, 124, 1, 0.836);
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}
@media screen and (max-width: 800px) {
  .topnav a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {
    float: none;
  }
  .topnav.responsive .dropdown-content {
    position: relative;
  }
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}


/*Vertical Navigationbar*/

#VnavBar {
    padding-top: 20px;
    padding-left: 5px;
    height: 100%;
    float: left;
    background-color: #f1f1f1;
    margin: 0;
    overflow: auto;
}

#VnavBar ul {
    list-style-type: none;
    padding: 5px;
}

#VnavBar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

#VnavBar a:hover {
    background-color: #555;
    color: white;
}

#head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    display: block;
    
}
#sp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 0px;
  text-decoration: none;
  color: #000;
  display: block;
  
}


.drop {
    cursor: pointer;
}

#subBox1, #subBox2, #subBox3,#pro,#adj {
    display: none;
}

.subbox a {
   display: block;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:#555;
    font-size: 15px;
    padding: 0px 22px;
    padding-top: 5px;
   
}

/*previous next buttons*/
#prvnextbtn a {
  font-size: 15px;
  font-weight: bold;
  padding: 8px 16px;
}

#prvnextbtn a:hover {
  background-color: #ddd;
  color: black;
}

#prvnextbtn .previous {
  background-color: #0e0c01;
  color: white;
}

#prvnextbtn .next {
  background-color: #0e0c01;
  color: white;
  margin-left:850px;
 
}

#prvnextbtn .round {
  border-radius: 100%;
}

#Topic{
  padding-top: 50px;
  padding-left: 300px;
}

/*footer*/
footer{
    border-top: 1px solid black;
    width:100%;
    
  }
#footerText{
    text-align: center;
    color: rgb(8, 8, 8);
}
#footerTextHome{
  text-align: center;
  color: rgb(250, 244, 244);
}