 /*Navigation bar css*/
  
 #navBar{
   
    box-shadow: 0px 15px 10px -15px #111; 
}

#navBar ul{
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0px 15px 10px -15px #111; 
  position: fixed;
  top: 0;
  width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    
}

#navBar li a{
  text-decoration: none;
    float: left;
    color:rgb(20, 19, 2);
    padding:  20px 17px;
    cursor: pointer;
}
#navBar li a:hover{
  background-color:#fa1414 ;
  color: white;
   font-size: 20px;

  
}
.icon{
    float: right;
}
#icon{
    padding-top: 20px;
    padding-right:20px ;
    font-size: 40px;
	color:#fa1414;
    cursor: pointer;
} 
#icon:hover{
   color: #0e0d0d;

}
.logButton{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border-radius: 5px;
    border-color: transparent;
    background-color: #fa1414a6;
    color:white;
  }
  .logButton:hover{
    background-color: #000;
    color:#f1f1f1;
}
 


/*Vertical Navigationbar*/

#VnavBar {

   padding-top: 50px;
    padding-left: 5px;
    height: auto;
    padding-top: 80px;
   padding-top: 50px;
    padding-left: 5px;
    float: left;
    background-color: #f1f1f1;
    margin: 0;
    overflow: auto;
}

#VnavBar ul {
    list-style-type: none;

    padding: 5px;

}

#VnavBar li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

#VnavBar a:hover {
    background-color: #555;
    color: white;
}

#head {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;

   padding: 5px;
    text-decoration: none;
    font-weight: bold;

    color: #000;
    display: block;
    
}

#sp {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 0px;
  text-decoration: none;
  color: #000;
  display: block;
  
}


.drop {
    cursor: pointer;
}

#subBox1, #subBox2, #subBox3 {
    display: none;
}

.subbox a {
   display: block;
    font-family: Arial, Helvetica, sans-serif;

   text-decoration:#555;
    font-size: 15px;
    padding: 0px 22px;
    padding-top: 5px;

   
}
/*footer*/
footer{
    border-top: 1px solid black;
    width:100%;
  }
#footerText{
    text-align: center;
}