.collapsible {
    background-color: rgb(58, 56, 56);
    color: rgb(250, 246, 246);
    font-weight: bold;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin: 2px;
    
  }
  
  .active, .collapsible:hover {
    background-color: rgb(94, 4, 4);
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f7f6f2;
  }

  #Read {
    padding-top: 20px;
    padding-left: 250px;
    padding-right: 20px;
  }
  #Head {
    padding-left: 10px;
    padding-top: 30px;
    text-align: center;
    font-family: Poppins, Helvetica, serif;
    font-size: 40px;
    font-weight: bold;
  }
  #Topic1 {
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
    font-family: Poppins, Helvetica, serif;
    font-size: 20px;
    font-weight: bold;
    color: #555;
    font-style: italic;
  }
  #Topic2 {
    padding-left: 15px;
    padding-top: 10px;
    text-align: left;
    font-family: Poppins, Helvetica, serif;
    font-size: 18px;
    font-weight: normal;
    color: rgb(24, 2, 2);
    font-style:initial;
  }

  #Topic {
    padding-left: 150px;
    padding-top: 50px;
    text-align: center;
    font-family: Poppins, Helvetica, serif;
    font-size: 20px;
    font-weight: bold;
    color: rgb(14, 12, 12);
    
  }

  #image{
    width:"524";
     height:"380";
     padding-left: 300px;
  }